body {
  background: #343a40;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-top: 6%;
}

.container > .full-card {

}

.container > .full-card > .card {
    width: 100%;
    padding: 30px;
    background-color: #24282c;
    color: white;
}

.card-header {
  background-color: #343a40;
}